body {
    background: #35dc9b;
  }

.headertag {
    display: table;
    margin: 40px auto;
    color: #fff;
    font: 32px Helvetica;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

.meme-form
{
    display: table;
    margin: 40px auto;
    width: 100%;
}


.inputClass {
    font: 18px Helvetica, Arial, sans-serif;
    box-sizing: border-box;    
    border: none;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    outline: none;
    
}
.inputClass::placeholder {
    
    color: #999;
    font: 18px Helvetica, Arial, sans-serif;
  }

  .submit{
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #1aaf75;
    color: #fff;
    padding: 16px 40px;
  }
  .submit::hover{
    background: #109f67;
  }
  .top{
      position: absolute;
      left: 40%;
      color: #fff;
      font: 32px Helvetica, Arial, sans-serif;
  }
  .bottom{
    position: absolute;
    left:40%;
    top:90%;
    color: #fff;
    font: 32px Helvetica, Arial, sans-serif;
}